<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CSOMSample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CSOMSample.Properties.Settings>
            <setting name="IsolationLevel" serializeAs="String">
                <value>Fake</value>
            </setting>
            <setting name="Url" serializeAs="String">
                <value>http://localhost</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>username</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>****</value>
            </setting>
        </CSOMSample.Properties.Settings>
    </applicationSettings>
</configuration>