<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SPOEmulators.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SPOEmulators.Tests.Properties.Settings>
            <setting name="OnPremUrl" serializeAs="String">
                <value>https://pm.alegri.eu/standorte/stg</value>
            </setting>
            <setting name="O365Url" serializeAs="String">
                <value>https://alegrivm.sharepoint.com</value>
            </setting>
            <setting name="O365User" serializeAs="String">
                <value>mikek@alegriVM.onmicrosoft.com</value>
            </setting>
            <setting name="O365Password" serializeAs="String">
                <value>DaLe1sKeP0H$</value>
            </setting>
        </SPOEmulators.Tests.Properties.Settings>
    </applicationSettings>
</configuration>